@font-face {
    font-family: 'Las Enter';
    src: url('fonts/lasenterpersonaluseonly-d301-webfont.woff2') format('woff2'),
         url('fonts/lasenterpersonaluseonly-d301-webfont.woff') format('woff');
}
@font-face {
    font-family: 'SDV Regular';
    src: url('fonts/stardew_valley_all_caps-webfont.woff2') format('woff2'),
         url('fonts/stardew_valley_all_caps-webfont.woff') format('woff');
}
@font-face {
    font-family: '8-bit';
    src: url('fonts/8-bit-pusab-webfont.woff2') format('woff2'),
         url('fonts/8-bit-pusab-webfont.woff') format('woff');
}

body {
    position: relative; 
}

/* HEADER CSS  */

.jumbotron {
    background: linear-gradient(rgba(25, 14, 79, 0.5), rgba(179, 60, 134, 0.5)),
                url('img/sdv_morning.png');
}
.sdv {
    font-family: "SDV Regular", sans-serif;
    color: #fdeff4;
    letter-spacing: 2px;
}
.display-1 {
    font-size: 2.8rem;
    display: block;
}
.neon {
    font-family: "Las Enter", sans-serif;
    color: #fdeff4;    
    font-size: 3.8rem;
    animation: neon 2s ease-in-out infinite alternate;
}
@keyframes neon {
    0%, 12%, 32%, 72%, 100% {text-shadow:
        0px 0px 2px #f5b1c6,
        0px 0px 4px #f5b1c6,
        0px 0px 6px #f5b1c6,
        0px 0px 10px #ea638c,
        0px 0px 20px #ea638c,
        0px 0px 40px #ea638c,
        0px 0px 60px #ea638c,
        0px 0px 80px #bb4f70,
        0px 0px 100px #bb4f70;}
    10% {text-shadow:
        0px 0px 1px #f5b1c6,
        0px 0px 2px #f5b1c6,
        0px 0px 3px #f5b1c6,
        0px 0px 8px #ea638c,
        0px 0px 15px #ea638c,
        0px 0px 35px #ea638c,
        0px 0px 55px #ea638c,
        0px 0px 75px #bb4f70,
        0px 0px 95px #bb4f70;}
    30% {text-shadow:
        0px 0px 1px #f5b1c6,
        0px 0px 2px #f5b1c6,
        0px 0px 3px #f5b1c6,
        0px 0px 8px #ea638c,
        0px 0px 15px #ea638c,
        0px 0px 35px #ea638c,
        0px 0px 55px #ea638c,
        0px 0px 75px #bb4f70,
        0px 0px 95px #bb4f70;}
    70% {text-shadow:
        0px 0px 1px #f5b1c6,
        0px 0px 2px #f5b1c6,
        0px 0px 3px #f5b1c6,
        0px 0px 8px #ea638c,
        0px 0px 15px #ea638c,
        0px 0px 35px #ea638c,
        0px 0px 55px #ea638c,
        0px 0px 75px #bb4f70,
        0px 0px 95px #bb4f70;}
}


/* NAVBAR CSS */

.navbar {
    background: #1B1725;
}
.brand {    
    max-height: 40px;
    display: inline-block;
    animation: brand 2s ease-in-out infinite alternate;
}
@keyframes brand {
    0%, 12%, 32%, 72%, 100% {filter:
        drop-shadow(0 0 2px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 4px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 6px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 10px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 20px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 40px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 60px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 80px rgba(187, 79, 112, 0.5))
        drop-shadow(0 0 100px rgba(187, 79, 112, 0.5));}
    10% {filter:
        drop-shadow(0 0 1px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 2px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 3px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 8px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 15px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 35px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 55px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 75px rgba(187, 79, 112, 0.5))
        drop-shadow(0 0 95px rgba(187, 79, 112, 0.5));}
    30% {filter:
        drop-shadow(0 0 1px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 2px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 3px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 8px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 15px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 35px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 55px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 75px rgba(187, 79, 112, 0.5))
        drop-shadow(0 0 95px rgba(187, 79, 112, 0.5));}
    70% {filter:
        drop-shadow(0 0 1px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 2px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 3px rgba(245, 177, 198, 0.5))
        drop-shadow(0 0 8px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 15px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 35px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 55px rgba(234, 99, 140, 0.5))
        drop-shadow(0 0 75px rgba(187, 79, 112, 0.5))
        drop-shadow(0 0 95px rgba(187, 79, 112, 0.5));}
}


/* CARD CSS */

.card-title {
    font-family: "8-bit", sans-serif;
    font-size: 1rem; 
}
.singles-card {
    width: 440px;
}
.loves {
    background: #B33C86;
}
.likes {
    background: #EA638C
}
.dislikes {
    background: #C6ECAE;
}
.hates {
    background: #94C9A9;
}
.ltgrey {
    background: #f7f7f7;
}


.alert-primary {
    background: #fbe0e8;
    border-color: #f5b1c6;
}


/* MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
    .photo {
        max-height: 100px;
    }
    .lead {
        font-size: 0.9rem;
    }
    td img {
        max-height:40px;
    }
    .table-striped {
        letter-spacing: 0px;
    }
    .small {
        font-size: 0.8rem;
    }
    /* body {
        background:turquoise;
    } */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .display-1 {
        font-size: 2.8rem;
    }
    .neon {
    font-size: 3.8rem;
    }
    .singles-card {
        width: 500px;
    }
    .photo {
        max-height: 128px;
    }
    .lead {
        font-size: 1rem;
    }
    td img {
        max-height:48px;
    }
    /* body {
        background:violet;
    } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .display-1 {
        font-size: 3.5rem;
        display: inline-block;
    }
    .neon {
    font-size: 4.5rem;
    }
    .singles-card {
        width: 700px;
    }
    /* body {
        background: tomato;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .display-1 {
        font-size: 5rem;
    }
    .neon {
    font-size: 6rem;
    }
    .singles-card {
        width: 460px;
    }
    .lead {
        font-size: 0.9rem;
    }
    .table-striped .lead {
        font-size: 1.1rem;
    }
    .table-striped {
        letter-spacing: 1px;
    }
    /* body {
        background:yellow;
    } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .singles-card {
        width: 550px;
    }
    .lead {
        font-size: 1.1rem;
    }
    .table-striped {
        letter-spacing: 0px;
    }
    /* body {
        background:yellowgreen;
    } */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .singles-card {
        width: 640px;
    }
    .table-striped {
        letter-spacing: 1px;
    }
    /* body {
        background:white;
    } */
}